<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hospital.infrastructure.mapper.DoctorWorkPlanScheduleMapper">

    <resultMap id="BaseResultMap" type="com.zy.hospital.entity.DoctorWorkPlanSchedule">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="workPlanId" column="work_plan_id" jdbcType="INTEGER"/>
            <result property="slot" column="slot" jdbcType="TINYINT"/>
            <result property="maximum" column="maximum" jdbcType="SMALLINT"/>
            <result property="num" column="num" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,work_plan_id,slot,
        maximum,num
    </sql>
</mapper>
