<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hospital.infrastructure.mapper.MedicalDeptSubMapper">

    <resultMap id="BaseResultMap" type="com.zy.hospital.entity.MedicalDeptSub">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,dept_id,
        location
    </sql>
</mapper>
