<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hospital.infrastructure.mapper.MisPermissionMapper">

    <resultMap id="BaseResultMap" type="com.zy.hospital.entity.MisPermission">
            <id property="id" column="id" jdbcType="SMALLINT"/>
            <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
            <result property="moduleId" column="module_id" jdbcType="SMALLINT"/>
            <result property="actionId" column="action_id" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,permission_code,module_id,
        action_id
    </sql>
</mapper>
