<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hospital.infrastructure.mapper.PatientFaceAuthMapper">

    <resultMap id="BaseResultMap" type="com.zy.hospital.entity.PatientFaceAuth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="patientCardId" column="patient_card_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patient_card_id,date
    </sql>
</mapper>
