<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.hospital.infrastructure.mapper.VideoDiagnoseFileMapper">

    <resultMap id="BaseResultMap" type="com.zy.hospital.entity.VideoDiagnoseFile">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoDiagnoseId" column="video_diagnose_id" jdbcType="INTEGER"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_diagnose_id,filename,
        path,create_time
    </sql>
</mapper>
